*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: #111;
    overflow: hidden;
    padding-left: 35rem;
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.heading span{
    color:yellow;
}

.title{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.title span{
    color: yellow;
}

.sub{
  
    padding-top: 2rem;
    padding-left: 2rem;
    text-align: left;
    margin: 0 6rem;
    font-size: 2rem;
    color:yellow;
}
.tech
{
    font-size: 2rem;
    padding-top: 6rem;
}
.head{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.head span{
    color: yellow;
}
.pro{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.pro span{
    color: yellow;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    border: .5rem solid;
}

header .user .nm{
    font-size:2rem;
    color: #fff;
}

header .user .jb{
    font-size:1.5rem;
    color: #fff;
}

header .nv{
    width: 100%;
}
header .nv ul{
    list-style: none;
    padding: 1rem ;
}

header .nv ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;  
}
header .nv ul li a:hover{
    background-color:yellowgreen;
}

.Details .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Details .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Details .Row .det h3{
    font-size: 2rem;
    color: white;
    padding: 1rem 0;
    font-weight: normal;
}

.Details .Row .det h3 span{
    color: yellow;
    padding: 0. 5rem;
}

table,th,td{
    border: 1px solid white;
    border-collapse: collapse;
}
td{
    color: white;
    padding: 1rem;
}
th{
    color: yellow;
    padding: 1rem;
}
.tbl{
    padding-top: 6rem;
}
table{
    
    text-align: center;
    margin: 0 6rem;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
#lis li{
    margin: 0 9rem;
    color: white;
    font-size: 2rem;
    padding: .5rem 1rem;    
}
#lis{
    padding-left: 2rem;
}
.Project .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Project .Row .det{
    flex: 1 1 48rem;
    padding-left: 8rem;
}

.Project .Row .det h3{
    font-size: 2rem;
    color: white;
    padding: 1rem 0;
    font-weight: normal;
}

.Project .Row .det h3 span{
    color: yellow;
    padding: 0. 5rem;
}
a
{
    color:white;
    text-decoration: none;
}
a:hover {
    color: yellow;
}

.footer_line{
  
    margin: 0 6rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}


.footer {
    text-align: center;
    padding: 1rem 0;
}

.footer__social-links {
    display: flex;
    justify-content: center;
    padding: var(--gutter-normal) 0;
    list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
    --gutter-small: 2rem;
    margin-right: var(--gutter-small);
}

.footer__social-image {
    height: 4rem;
}



@media(max-width: 500px) {
    .footer {
        padding: var(--gutter-medium) 0;
    } 
}
